* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:black !important;
}

#headerr{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color:black;
    padding-top: 20px;
}

#headerr h1{
    font-family: 'montserat';
    color: white;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav > a:hover{
    color:#8a2be2;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}


.profileImage{
    width: 200px;
}

.tentaa{
    width:300px;
}

#pengalaman{
    color: white;
}

.pengalamanku{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    gap: 40px;
}

#lisensi{
    color: white;
}
